html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #616161;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #878787;
}

body::after {
  content: "";
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--opacity, 0);
  visibility: var(--visibility, hidden);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay-open {
  --opacity: 1;
  --visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: inherit;
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.85rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.65rem;
}

ul,
ol {
  list-style: none;
}

a,
button,
textarea,
input {
  font-family: inherit;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: white;
  display: inline-block;
}

img:not(.logo) {
  max-width: 100%;
  display: block;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  outline: none;
  padding: 1.09375em 3em;
  line-height: inherit;
  font-size: 1rem;
  font-weight: 700;
  background-color: #3cb4ac;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 44em;
  width: 100%;
  margin: 0 auto;
}

.no-scroll {
  overflow-y: hidden;
}

.no-click {
  pointer-events: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  min-height: 50vh;
  background-image: url(/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.main-header .logo,
.main-header .hamburger-menu {
  position: relative;
}

.main-header::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.17);
}

@media (min-width: 40em) {
  .main-header {
    height: 65vh;
    background-image: url(/images/image-hero-desktop.jpg);
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 64em) {
  .main-header {
    padding-left: 5.6rem;
    padding-right: 5.6rem;
  }
}

.main-header .logo {
  width: 10.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.main-header .nav-links {
  font-weight: 500;
  font-size: 1.15rem;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.4s ease-in-out, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.4s ease-in-out, box-shadow 0.1s ease;
  transition: opacity 0.4s ease-in-out, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
}

@media (max-width: 39.9375em) {
  .main-header .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  }
}

@media (min-width: 40em) {
  .main-header .nav-links .nav-item .nav-link {
    position: relative;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .main-header .nav-links .nav-item .nav-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #3cb4ac;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .main-header .nav-links .nav-item .nav-link:hover.nav-link::after,
  .main-header .nav-links .nav-item .nav-link:focus.nav-link::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 40em) {
  .main-header .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-header .nav-links li:not(:last-child) {
    margin-right: 2.1rem;
  }
}

.main-header .hamburger-menu {
  cursor: pointer;
  color: white;
  border: none;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 40em) {
  .main-header .hamburger-menu {
    display: none;
  }
}

.main-header .hamburger-menu:hover, .main-header .hamburger-menu:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-header .hamburger-icon {
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
}

.show-menu .logo,
.show-menu .hamburger-menu {
  position: relative;
  z-index: 600;
}

.show-menu .nav-links {
  visibility: visible;
  opacity: 1;
  top: 6.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 600;
  background: white;
  border-radius: 8px;
  width: calc(100vw - 1.5rem * 2);
}

.show-menu .nav-links li {
  padding: 1.3rem 1.5rem;
}

.show-menu .nav-links li a {
  color: #4d4d4d;
}

.show-menu .nav-links li:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.hero {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* CTA */
.cta-section {
  border-radius: 8px;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */
  border: 1px solid #e0e0e0;
  background-color: white;
  text-align: center;
  padding: 0 1.2rem 1.5rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 40em) {
  .cta-section {
    padding-left: 2.65rem;
    padding-right: 2.65rem;
  }
}

.cta-section .mastercraft-logo {
  margin: 0 auto;
  -webkit-transform: translateY(-1.75rem);
          transform: translateY(-1.75rem);
}

.cta-section .main-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.cta-section .subtitle {
  color: #7a7a7a;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.cta-section .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .cta-section .btn-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cta-section .btn-primary {
  margin-right: 1rem;
  padding: 0 3em;
  height: 56px;
  color: white;
}

.cta-section .btn-primary:hover, .cta-section .btn-primary:focus {
  background-color: #147b74;
}

@media (max-width: 39.9375em) {
  .cta-section .btn-primary {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.cta-section .bm-container {
  height: 56px;
}

@media (min-width: 40em) {
  .cta-section .bm-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 11rem;
    background-color: #e6e6e6;
    border-radius: 30px;
  }
}

.cta-section .bm-container:hover .bm-icon__circle,
.cta-section .bm-container:focus-within .bm-icon__circle {
  fill: #7a7a7a;
}

.cta-section .bm-container:hover .bm-icon__inside,
.cta-section .bm-container:focus-within .bm-icon__inside {
  fill: white;
}

@media (min-width: 40em) {
  .cta-section .bm-container .btn-secondary {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cta-section .bm-container .btn-secondary .bm-icon {
  display: inline-block;
}

.cta-section .bm-container .btn-secondary .bm-icon svg {
  font-size: 56px;
  vertical-align: middle;
}

.cta-section .bm-container .btn-secondary .bm-icon__circle, .cta-section .bm-container .btn-secondary .bm-icon__inside {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cta-section .bm-container .btn-secondary .bm-text {
  display: inline-block;
  color: #7a7a7a;
  font-weight: 700;
  margin-left: 0.65rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 39.9375em) {
  .cta-section .bm-container .btn-secondary .bm-text {
    display: none;
  }
}

.cta-section .bookmarked .btn-secondary .bm-icon__circle {
  fill: #147b74;
}

.cta-section .bookmarked .btn-secondary .bm-icon__inside {
  fill: white;
}

@media (min-width: 40em) {
  .cta-section .bookmarked .btn-secondary .bm-text {
    color: #147b74;
  }
}

/* STATS */
.project-stats {
  border-radius: 8px;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */
  border: 1px solid #e0e0e0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.project-stats .backer-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 39.9375em) {
  .project-stats .backer-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-stats .backer-stats .backer-item {
  padding: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 40em) {
  .project-stats .backer-stats .backer-item {
    padding: 2rem;
    text-align: left;
  }
}

.project-stats .backer-stats .backer-item .numbers,
.project-stats .backer-stats .backer-item .number-title {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project-stats .backer-stats .backer-item .numbers {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
}

.project-stats .backer-stats .backer-item .number-title {
  color: #7a7a7a;
  white-space: nowrap;
}

.project-stats .backer-stats .bordered {
  position: relative;
}

.project-stats .backer-stats .bordered::before,
.project-stats .backer-stats .bordered::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 1px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #c7c7c7;
}

@media (min-width: 40em) {
  .project-stats .backer-stats .bordered::before,
  .project-stats .backer-stats .bordered::after {
    height: 50%;
    width: 1px;
  }
}

.project-stats .backer-stats .bordered::before {
  top: 0;
}

@media (min-width: 40em) {
  .project-stats .backer-stats .bordered::before {
    left: 0;
    top: 50%;
  }
}

.project-stats .backer-stats .bordered::after {
  top: 100%;
}

@media (min-width: 40em) {
  .project-stats .backer-stats .bordered::after {
    right: 0;
    left: unset;
    top: 50%;
  }
}

.project-stats .progress-bar {
  width: calc(100% - 4rem);
  height: 0.7rem;
  margin: 1rem auto;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.project-stats .progress-bar .tracker {
  position: absolute;
  width: 25%;
  inset: 0;
  background-color: #3cb4ac;
  border-radius: 8px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.loading {
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.about-project {
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: left;
  scroll-margin-top: 1rem;
}

.about-project .about-subtitle:not(:last-child) {
  margin-bottom: 1rem;
}

.about-project .about_info {
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */
  border: 1px solid #e0e0e0;
  background-color: white;
}

.about-project .about_info .main-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about-project .about_info .subtitle {
  color: #7a7a7a;
}

.about-project .cards {
  margin: 2.5rem 0;
}

.about-project .stand-card-item {
  border-radius: 8px;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */
  border: 1px solid #e0e0e0;
  background-color: white;
  padding: 1.7rem;
  margin-bottom: 1rem;
}

@media (max-width: 39.9375em) {
  .about-project .stand-card-item .stand-header {
    margin-bottom: 1rem;
  }
}

@media (min-width: 40em) {
  .about-project .stand-card-item .stand-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-project .stand-card-item .stand-header .title {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 39.9375em) {
  .about-project .stand-card-item .stand-header .title {
    margin-bottom: 0.35rem;
  }
}

.about-project .stand-card-item .stand-header .pledge {
  display: inline-block;
  color: #147b74;
  font-weight: 500;
}

.about-project .stand-card-item .stand-desc {
  color: #7a7a7a;
  margin: 1.5rem 0;
}

@media (min-width: 40em) {
  .about-project .stand-card-item .stand-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-project .stand-card-item .stand-cta .btn-reward {
  font-size: 0.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: white;
}

.about-project .stand-card-item .stand-cta .btn-reward.disabled {
  background-color: #7a7a7a;
  cursor: not-allowed;
}

.about-project .stand-card-item .stand-cta .btn-reward:hover:not(.disabled), .about-project .stand-card-item .stand-cta .btn-reward:focus:not(.disabled) {
  background-color: #147b74;
}

.about-project .stand-card-item.disabled {
  cursor: not-allowed;
  opacity: 0.4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stock-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.stock-status.disabled {
  color: #7a7a7a;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 39.9375em) {
  .stock-status {
    margin-bottom: 1rem;
  }
}

.stock-status .stock-count {
  font-size: 2.2rem;
  font-weight: 700;
}

.stock-status .stock-text {
  display: inline-block;
  line-height: 1;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  color: #7a7a7a;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: visibility 0ms ease 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms ease 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms ease 0.5s, opacity 0.5s, transform 0.5s;
  transition: visibility 0ms ease 0.5s, opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  visibility: hidden;
  z-index: 1000;
}

.modal {
  max-height: 80vh;
  overflow-y: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 63.9375em) {
  .modal {
    font-size: 0.9375rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .modal {
    max-width: 90vw;
    margin-left: 0;
    margin-right: 0;
  }
}

.modal-header {
  position: relative;
  margin-bottom: 1.5rem;
}

.modal-header__title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
}

.modal-header__subtitle {
  color: #7a7a7a;
}

.modal-header__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-header__close-btn:hover .modal-header__icon,
.modal-header__close-btn:focus .modal-header__icon {
  color: #6e6e6e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-header__icon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  font-size: 1.22rem;
  color: #616161;
}

.show-modal {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  scrollbar-width: 0;
  -webkit-transition: visibility 0ms, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms, opacity 0.5s, transform 0.5s;
  transition: visibility 0ms, opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

#modalContainer::-webkit-scrollbar {
  display: none;
}

#modalContainer:focus {
  outline: none;
}

.modal-item {
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.modal-item:not(.disabled):focus-within {
  border-color: #3cb4ac;
}

.modal-item__radio-btns {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.modal-item__radio-btns:focus {
  outline: 5px solid black;
}

.modal-item__radio-btns:checked + label > header .checkmark::before {
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.modal-item__radio-btns:checked + label {
  border-color: #3cb4ac;
}

.modal-item__radio-btns:not(:checked):not(:disabled):hover + label
> header
.modal-item__stand-title {
  color: #3cb4ac;
}

.modal-item__label {
  display: block;
  padding: 2rem 1.5rem 0.75rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 40em) {
  .modal-item__label {
    position: relative;
  }
}

.modal-item .disabled {
  cursor: not-allowed;
  opacity: 0.4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-item .disabled .modal-item__content {
  display: none;
}

.modal-item__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.modal-item__header .checkmark {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal-item__header .checkmark::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #3cb4ac;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-item__desc {
  margin: 1.5rem 0 1.2rem;
  color: #7a7a7a;
}

.modal-item__stand-title {
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
}

.modal-item__stand-title .stand-title__amount {
  font-weight: 700;
  display: block;
  color: #3cb4ac;
}

@media (min-width: 40em) {
  .modal-item__stand-title .stand-title__amount {
    display: inline-block;
    margin-left: 1rem;
  }
}

.modal-item .modal-stock {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (min-width: 40em) {
  .modal-item .modal-stock {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }
}

.modal-item__cta {
  border-top: 1px solid #e0e0e0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: max-height 250ms ease-in-out 250ms;
  transition: max-height 250ms ease-in-out 250ms;
}

@media (min-width: 40em) {
  .modal-item__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.modal-item__cta .content-text {
  display: block;
  font-weight: 500;
  color: #7a7a7a;
  text-align: center;
}

@media (max-width: 39.9375em) {
  .modal-item__cta .content-text {
    margin-bottom: 1rem;
  }
}

.modal-item__cta .content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  position: relative;
  gap: 0.15rem;
}

@media (max-width: 39.9375em) {
  .modal-item__cta .content-btns {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 40em) {
  .modal-item__cta .content-btns {
    gap: 1.2rem;
  }
}

.modal-item__cta .content-btns .content-input-container {
  position: relative;
  display: inline-block;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-item__cta .content-btns .money-sign {
  position: absolute;
  top: 50%;
  left: 18%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 500;
  color: #adadad;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-item__cta .content-btns .content-input {
  outline: none;
  width: 111px;
  height: 58px;
  padding-top: 21px;
  padding-bottom: 22px;
  color: #4d4d4d;
  border-radius: 100vh;
  font-size: 1rem;
  border: 1px solid #adadad;
  text-align: center;
  font-weight: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  caret-color: #3cb4ac;
}

.modal-item__cta .content-btns .content-input:focus:not(:disabled) {
  border-color: #3cb4ac;
  color: #3b3b3b;
}

.modal-item__cta .content-btns .content-input:hover:not(:disabled) {
  border-color: #147b74;
}

.modal-item__cta .content-btns .content-input-container[data-error] {
  /* .content-input:not(disabled):focus, */
}

.modal-item__cta .content-btns .content-input-container[data-error] .content-input {
  border-color: #e0525e;
  background-color: snow;
  color: #e0525e;
  caret-color: #e0525e;
}

.modal-item__cta .content-btns .content-input-container[data-error] .money-sign {
  color: #e0525e;
}

.modal-item__cta .content-btns .content-input-container[data-error]::after {
  content: attr(data-error);
  position: absolute;
  left: -10px;
  display: block;
  font-weight: 400;
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 0.1rem;
  color: #e0525e;
}

.modal-item__cta .content-btns .content-input-container[data-success] {
  /* .content-input:not(disabled):focus, */
}

.modal-item__cta .content-btns .content-input-container[data-success] .content-input {
  border-color: #29a847;
  background-color: #ebffeb;
  caret-color: #29a847;
}

.modal-item__cta .content-btns .content-input-container[data-success] .money-sign {
  color: #29a847;
}

.modal-item__cta .content-btns .content-btn {
  display: inline-block;
  text-align: center;
  padding: 0 1.375rem;
  height: 58px;
  background-color: #3cb4ac;
  color: white;
  font-weight: 500;
  border-radius: 100vh;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-item__cta .content-btns .content-btn:hover, .modal-item__cta .content-btns .content-btn:focus {
  background-color: #147b74;
}

.modal-item__cta .content-btns .error-submitted {
  color: #e0525e;
  border: 1px solid #e0525e;
  background-color: snow;
}

.modal-item .show-content {
  max-height: unset;
  opacity: 1;
  padding: 1.3rem 1rem 1.5rem;
  visibility: visible;
  -webkit-transition: max-height 300ms ease-in-out, padding 300ms ease-in-out, opacity 300ms ease-in-out 300ms, visibility 300ms ease 300ms;
  transition: max-height 300ms ease-in-out, padding 300ms ease-in-out, opacity 300ms ease-in-out 300ms, visibility 300ms ease 300ms;
}

.disabled > * {
  cursor: not-allowed;
  opacity: 0.4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-completed {
  position: fixed;
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 2.1rem;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 1000;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0ms ease 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms ease 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms ease 0.5s, opacity 0.5s, transform 0.5s;
  transition: visibility 0ms ease 0.5s, opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.modal-completed:focus {
  outline: none;
}

@media (max-width: 39.9375em) {
  .modal-completed {
    width: 90%;
    padding: 2rem 1.3rem;
  }
}

.modal-completed__heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.modal-completed__msg {
  color: #7a7a7a;
  margin-bottom: 2rem;
}

.modal-completed__btn {
  padding: 0.6em 1.8em;
  color: white;
  cursor: pointer;
  background-color: #3cb4ac;
  border-radius: 100vh;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-completed__btn:hover, .modal-completed__btn:focus {
  background-color: #147b74;
}

.show-modal-completed {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0ms, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms, opacity 0.5s, -webkit-transform 0.5s;
  transition: visibility 0ms, opacity 0.5s, transform 0.5s;
  transition: visibility 0ms, opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
/*# sourceMappingURL=index.css.map */