//#region colors
//primary colors
$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
//neutral colors
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 48%);
$error: hsl(355, 70%, 60%);
$error-light: hsl(0, 100%, 99%);
$success: hsl(134, 61%, 41%);
$success-light: hsl(120, 100%, 99%);
$scrollbarColor: hsl(0, 0%, 38%);
//bg-color
$body-bg: darken($white, 3);
//#endregion
//#region Typoghraphy
$base-font-family: "Commissioner", sans-serif;
$base-font-size: 1rem;
$btn-base-fs: 1rem;

$h1-fs: $base-font-size * 1.5;
$h2-fs: $base-font-size * 1.25;
$h3-fs: $base-font-size * 1;
$h4-fs: $base-font-size * 0.85;
$h5-fs: $base-font-size * 0.75;
$h6-fs: $base-font-size * 0.65;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$base-line-height: 1.6;
$base-headings-line-height: 1.1;
//#endregion

$br-main: 8px;
$br-pill: 100vh;
$br-percent: 50%;
$main-transition: all 0.3s ease-in-out;
//scrollbar
$scrollThumbColor: $scrollbarColor;
$scrollThumbHover: lighten($scrollThumbColor, 15);
//#region z-index
$zIndexBodyOverlay: 500;
$zIndexNavMenu: 600;
$zIndexModals: 1000;
//#endregion
