//primary colors

$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);

//neutral colors

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 48%);
$error: #c92432;
$error-light: #fffafa;
$success: #28a745;
$success-light: #edffed;
$scrollbarColor: hsl(0, 0%, 38%);
//bg-color
$body-bg: darken($white, 6);

//scrollbar
$scrollThumbColor: $scrollbarColor;
$scrollThumbHover: lighten($scrollThumbColor, 15);

//Typoghraphy
$base-font-family: "Commissioner", sans-serif;
$base-font-size: 1rem;
$btn-base-fs: 1rem;

$h1-fs: $base-font-size * 1.5;
$h2-fs: $base-font-size * 1.25;
$h3-fs: $base-font-size * 1;
$h4-fs: $base-font-size * 0.85;
$h5-fs: $base-font-size * 0.75;
$h6-fs: $base-font-size * 0.65;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$base-line-height: 1.6;
$base-headings-line-height: 1.1;

$br-main: 8px;
$br-pill: 100vh;
$br-percent: 50%;
$main-transition: all 0.3s ease-in-out;
/* z-index modals */
$zIndexBodyOverlay: 500;
$zIndexNavMenu: 600;
$zIndexModals: 1000;
